{% extends 'loginPage.html' %}

{% block content %}

            <div class="card-body px-4 py-5 px-md-5">
                <form action="/auth/login/resetPassword" method="POST">

                    <h4 style="text-align: center; margin-bottom: 5% ;">Esqueceu a senha?</h4>
                    <p>Não tem problema! Só precisamos do email que você usou ao realizar seu cadastro e você receberá
                        um email
                        com as informações para redefinir sua senha</p>

                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control" name="email" />
                        <label class="form-label" for="form3Example3">Email </label>
                    </div>

                    <button type="submit" data-mdb-toggle="modal" data-mdb-target="#exampleModal" style="background-color: #29539b;
        background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);" class="btn btn-primary btn-block mb-2">
                        Enviar email
                    </button>

                </form>
            </div>

{% endblock %}